/* This file includes all the styles of HTML elements */
/* Classes are sorted alphabetically */

.app {
  /*CONTAINER*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background-color: #ce93d871;
  border: solid 2px #000000;
  position: absolute;
  /*CONTENT*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border {
  border: solid 2px #000000;
  border-radius: 10px;
  padding: 1%;
}
.button{
  border-radius: 0.3em;
  text-shadow: 0 1px 0 #5a5a5a71;
  margin: 5px;
  padding: 5px;
  height: 2.4em;
  font-family: 'roboto';
  font-weight: 1000;
  cursor: pointer;
}
.button:hover{
  text-shadow: 1px 2px 1px #5a5a5a71;
}
.dashboardColums {
  background-color: #fff;
  width: 100%;
  margin: 0.5%;
}
.endAlignButton {
  display: flex;
  justify-content: end;
}
.footer {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.hidden {
  display: none;
}
.overflow {
  height: 76%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.overflow::-webkit-scrollbar {
  width: 7px;
  background-color: #fafafa;
}
.overflow::-webkit-scrollbar-thumb {
  background-color: #ce93d871;
  border: solid 1px #fafafa;
}
