/* This file includes all the styles of HTML elements */
/* Classes are sorted alphabetically */

.app {
  /*CONTAINER*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background-color: #ce93d871;
  border: solid 2px #000000;
  position: absolute;
  /*CONTENT*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border {
  border: solid 2px #000000;
  border-radius: 10px;
  padding: 1%;
}
.dashboardColums {
  background-color: #fff;
  width: 100%;
  margin: 0.5%;
}
.endAlignButton {
  display: flex;
  justify-content: end;
}
.footer {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.overflow{
  height: 76%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.overflow::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #ce93d871;
}
